<div class="control is-horizontal">
  <div class="control-label">
    <label class="label">
      Fly out:
    </label>
  </div>

  <div class="control">
    <date-selector on-date-change="$ctrl.startDateChanged(date)" max-date="$ctrl.maxDate">
    </date-selector>
  </div>

  <div class="control-label">
    <label class="label">
      Fly back:
    </label>
  </div>
  <div class="control">
    <date-selector on-date-change="$ctrl.endDateChanged(date)" min-date="$ctrl.minDate">
    </date-selector>
  </div>
</div>
