<div class="hero has-background-primary">
  <div class="container">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="nav-item has-text-warning" ui-sref="home">
          CheapFlight
        </a>
      </div>
    </nav>
  </div>
</div>

<section class="section">
  <div class="container search-container has-background-info">
    <flight-search airports="$ctrl.airports" routes="$ctrl.routes"></flight-search>
  </div>
</section>

<section class="section flights">
  <ui-view airports="$ctrl.airports"> </ui-view>
</section>
